.card{
    margin: 10px 0 5px 20px;
    background: none;
    border: none;
}
.card img{
    width: 100%;
    height: 250px;
}
.card-title{
    color: #000;
    font-weight: bold;
}
/* .cards{
    transition: all 0.3s linear;
    position: relative;
}
.cards img{
    height: 250px;
    width: 100%;
    display: block;
    transition: all 0.3s linear;
}
.cards:hover .cards_link{
    transform: translate(-50%, -50%) scale(1);
}
.cards_link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0);
    transition: all 0.3s linear;
}
.card_title{
    background: #cfcfcf;
    text-transform: capitalize;
    padding: 0.5rem 0;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
} */