footer{
    background: #041e3c;
}
#ftr .container{
    padding: 1.5rem;
}
.copy_right{
    background: #031830;
}
.list-unstyled a{
    color: #a59887;
    text-decoration: none;
}
@media screen and (max-width: 960px){
    #ftr .container{
        padding: 10px 0 0 15px;
    }
}